.add-button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.add-button:hover {
  opacity: 0.8;
}

.add-chapter-form {
  /* Tutaj możesz dodać swoje style dla formularza, np. marginesy, paddingi itd. */
}