.chapter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 20px;
  }
  
  .chapter-card {
    flex: 0 0 calc(33.3333% - 16px);
    background-color: #f5f5f5;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
  }
  
  .add-button-container {
    margin-top: 20px;
  }
  
  .add-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  