.back-button-container {
    margin-bottom: 20px;
  }
  
  .back-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .image-box {
    width: 50%; /* Zajmuje 50% szerokości kontenera */
    margin-bottom: 16px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }