.manga-list-container {
    width: 100%;
  }
  
  .manga-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  
  .manga-tile {
    width: 200px;
    border: 1px solid #ccc;
    padding: 16px;
    text-align: center;
  }
  
  .manga-cover {
    width: 100%;
    height: auto;
  }
  
  .manga-button {
    display: inline-block;
    margin-top: 16px;
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  
  .add-button-container {
    margin-top: 32px;
    text-align: center;
  }
  
  .add-button {
    padding: 16px 32px;
    background-color: green;
    color: white;
    text-decoration: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Twoje istniejące style */

.manga-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .manga-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Liczba linii tekstu do wyświetlenia */
    overflow: hidden;
  }
  